.status-declined{
    color: red;
    font-size: 20px;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.status-pending{
    color: yellow;
    font-size: 20px;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.status-accepted{
    color: green;
    font-size: 20px;
    font-weight: bold;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.fa-check-circle-o{
    color: green;
    margin-right: 2%;
}

.fa-ban{
    color: red;
    margin-right: 2%;
}

.fa-clock-o{
    color: yellow;
    margin-right: 2%;
    text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}